body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.completed {
    background-color: green;
}

.ongoing {
    background-color: yellow;
}

.coming {
    background-color: red;
}

.year,
.date-time {
    font-size: 2em;
}

.date-time {
    margin: 20px 100px;
}

.wrapper {
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
    margin: 5px auto;
    position: relative;
}
